@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-display: swap;
}

html {
  scroll-behavior:smooth;
}

b {
  font-weight: 600;
}

a:hover {
  cursor: pointer;
}

.btn {
  @apply text-2xl pt-2 pb-1 px-4 mx-auto font-[everettlight] border-[1px] border-black rounded-md transition-colors;
  transition-duration: 300ms;
}

.btn:hover {
  @apply bg-black text-white;
}

ul.tech-list {
  -webkit-animation: scrollUp 10s linear infinite normal;
  animation: scrollUp 10s linear infinite normal;
}

ul.tech-list > li {
  @apply opacity-100 h-7 p-0 m-2.5 list-none border-b-[1px] border-black;
}

@keyframes scrollUp {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  5% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  26% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  36% {
    -webkit-transform: translateY(-32.5%);
            transform: translateY(-32.5%);
  }
  62% {
    -webkit-transform: translateY(-32.5%);
            transform: translateY(-32.5%);
  }
  72% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  95% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  100% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
}
