@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}

b {
  font-weight: 600;
}

.scroll-offset {
  @apply scroll-mt-16 md:scroll-mt-20;
}

a:hover {
  cursor: pointer;
}

.btn {
  @apply rounded-md border-[1px] border-black px-4 pt-2 pb-1 font-[everettlight] text-lg md:text-2xl transition-colors;
  transition-duration: 300ms;
}

.btn:hover {
  @apply bg-black text-white;
}

.tech-list-window {
  height: 3.5rem;
}

@media (min-width: 768px) {
  .tech-list-window {
    height: 2.5rem;
  }
}

ul.tech-list {
  -webkit-animation: scrollUp 12s ease-in-out infinite normal;
  animation: scrollUp 12s ease-in-out infinite normal;
}

ul.tech-list > li {
  @apply flex h-14 md:h-10 list-none items-center justify-center border-b-[1px] border-black px-3 py-0 text-center opacity-100;
  margin: 0;
  line-height: 1.25;
}

@media (min-width: 768px) {
  ul.tech-list > li {
    white-space: nowrap;
  }
}

@keyframes scrollUp {
  0%,
  20% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  25%,
  45% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  50%,
  70% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  75%,
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}
